body,html{
  background-color: #041423;
}

.painting{
  background-image: url('../pawel-czerwinski-OY3slACa3ec-unsplash.jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  max-width: 100%;

}

.img1{
  background-image: url('../ashwin-patil-J2jyoGGaCZY-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-attachment: fixed;
}

@font-face {
  font-family: edo;
  src: url('../font/edo.ttf');
}

.name{
  position: absolute;
  text-align: center;
  color: white;
  top: 110px;
  left: 490px;

}
.portname {
  color: white;
  font-size: 30px;
  font-family: monospace;
  position: absolute;
  top: 38px;
  right: 40px;
}



h1{
  font-family: edo;
  font-size: 80px;
}

.about{
  font-family: edo;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  color: white;
  top: 75%;
  left: 45%;
}

.paratext{
  font-family: edo;
  font-size: 45px;
  text-align: center;
  color: white;
  top:220px;
  position: relative;
}

.workImg1{
  margin-left: 5%;
  border-radius: 20px;
  float: left;
  margin-top: 100px;
  margin-bottom: 100px;
}

.workImg2{
  margin-right: 5%;
  border-radius: 20px;
  float: right;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contact{
  background-image: url('../imageedit_1_3029068294.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-top: 38%;
  background-attachment: fixed;
}

.workwithme{
  font-family: edo;
  font-size: 25px;
  text-align: center;
  color: white;
  top:150px;
  position: relative;
}

p{
  font-family: cursive;
  margin-top: 20px;
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
  color:white;
  font-size: 20px;
  position: relative;
  top: 95%;
}

.profileimg{
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 30px;
  margin-bottom: 80px;
  margin-top: 70px;
}

.contactIcons{
  text-align: center;
  color: white;
  font-family: cursive;
  font-size: 18px;
  top: 150px;
  position: relative;
  margin-top: -6%;
}

.logo{
  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
  color: white;
  float: left;
  margin-top: 330px;
}

.logoFormat{
    margin-left: 710px;
}
